<div class="container">
  <% if @user.email == 'guest@example.com' %>
    <div class="alert alert-info mt-3">
      ゲストユーザーは<%= link_to '食品類の新規投稿', new_food_path %>および食品類の閲覧が可能です。
    </div>
    <%= render "index" %>
  <% elsif @user.family.present? || @user.family_users.first.present? %>
    <%= render "index" %>
  <% else %>
    <div class="alert alert-info mt-3">
      グループに参加していないようです。<br>食品の管理をより効果的に行うために、<%= link_to 'グループに参加または作成', show_user_path(@user) %> してみませんか？
    </div>
  <% end %>
