<strong>
    <div class="header">
        <img src="https://github.com/telteru2003/e-Commu/assets/135404018/c8120133-1ed9-4d62-a2ff-63829cd609fb" alt="e-Commu!ロゴ" class="logo">
        <h1>WELCOME to e-Commu!</h1>
    </div>

    <div class="intro-section">
        <h1>ABOUT</h1>
        <div class="site-description">
            <p> フードロス削減を目的とした、食品類の期限などを登録して同居人と台所事情を共有し、コメントといいねができるコミュニティサイト</p>
        </div>

        <h1>TARGET</h1>
        <div class="target-users">
            <p> 食品類の仕入れにより、期限等の管理に頭を悩ませる方</p>
            <p> どの献立にするか、またどの食品類を使うかの判断をより視覚的に効率化させたい方</p>
        </div>

        <h1>SCENE</h1>
        <div class="use-cases">
            <p> 同居人がいる方で、自宅にある食品類の情報共有をすることで同居人と食事にまつわるコミュニケーションを図りたい場面</p>
            <p> 献立を考える時、どの食品類から消費するかを判断したい場面</p>
        </div>
    </div>
</strong>
