@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f8f9fa;
  color: #495057;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FFEDB3;
  color: #444;
  text-align: center;
  padding: 20px;
}

.header h1,
.intro-section h1 {
  font-family: 'Dancing Script', cursive;
}

.intro-section {
  text-align: center;
  padding: 50px;
  position: relative;
}

.intro-section::before {
  content: '';
  background: url(../images/food.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.logo {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.site-description,
.target-users,
.use-cases
{
  margin-top: 20px;
}

#mobileFootNav { display:none; }
@media only screen and (max-width: 767px) {
	#mobileFootNav { display:block; z-index:1030; width:100%; height:60px; position:fixed; bottom:0; }
	#mobileFootNav { background:rgba(255,255,255,0.7); border-top:1px solid #e1e1e1; }
	#mobileFootNav .ftNavBtn { float:left; width:23%; height:46px; margin:7px 1%; }
	#wrap_all { padding-bottom:60px; }
}

/* ボタンデザイン */
.blueButton .webfontIcon { font-size:20px; line-height:24px; font-weight:normal; }
.blueButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	width:100%;
	height:100%;
	text-align:center;
	vertical-align:middle;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
	text-decoration:none;
}
.blueButton:active { position:relative; top:1px; }

.gray-text {
  color: gray;
  font-size: 90%;
}

.custom-div {
  margin-bottom: 30px;
}




