  <h3>グループ検索結果</h3>
  <div class="container">
    <%= render 'public/families/index', families: @records%>
  </div>

  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <!--<p><%#= link_to "戻る", request.referer, class:"btn btn-success mr-5" %></p>-->
    </div>
  </div>

