<% if @model == "family" %>
  <h3>グループ検索結果</h3>
  <div class="container">
    <%= render 'admin/families/index', customers: @records %>
  </div>
<% elsif @model == "user"%>
  <h3>ユーザー検索結果</h3>
  <div class="container">
    <%= render 'admin/users/index', items: @records%>
  </div>
<% elsif @model == "food"%>
  <h3>食品類検索結果</h3>
  <div class="container">
    <%= render 'admin/foods/index', items: @records%>
  </div>
<% elsif @model == "comment"%>
  <h3>コメント検索結果</h3>
  <div class="container">
    <%= render 'admin/comments/index', items: @records%>
  </div>
<% else%>
　検索結果　なし
<% end %>
